/* Tùy chỉnh CSS */
.navbar-nav .nav-item {
    position: relative;
}

.navbar-nav .nav-item:hover .sub-menu {
    display: block;
}

.sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.sub-menu a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.navbar-brand {
    margin-right: auto;
}